<!DOCTYPE HTML>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
	<head>
		<title>Maxwell Pearl</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Content -->
							{% block content %}
							{% endblock %}
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										{% for title, link in MENUITEMS %}
            								<li><a href="{{ link }}">{{ title }}</a></li>
										{% endfor %}
										{% if DISPLAY_PAGES_ON_MENU %}
											{% for p in pages %}
												<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
											{% endfor %}
										{% endif %}
										{% if DISPLAY_CATEGORIES_ON_MENU %}
											{% for cat, null in categories %}
												<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
											{% endfor %}
										{% endif %}
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Feel free to reach out. I'd love to hear from you.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="mailto:me@maxwellpearl.com">me@maxwellpearl.com</a></li>
										<li class="icon solid fa-phone">(707) 232-5219</li>
										<li class="icon solid fa-home">PO Box 391, <br />
										Cazadero, CA 95421</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Maxwell Pearl. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>